#one{
    background-color: pink;
    text-align: center;
}

#two{
    background-color: aqua;
    background-image: url("Images/lib2.jpeg");
}

.one{
    color: aquamarine;
}

#three{
    background-color:darkgray;



}